.width-5 {
    width: 5%;
    white-space: normal;
}

.width-10 { 
    width: 10%;
    white-space: normal;
}

.width-30 { 
    width: 30;
    white-space: normal;
}

.width-25 { 
    width: 25;
    white-space: normal;
}