.heading {
    font-size: 22px;
    font-weight: 500;
    color: $color-black;
    margin-bottom: 0px;
    text-align: start;
}
.sub-heading {
    text-align: start;
}
.text-red {
    color: $color-red;
    cursor: pointer;
}
.cursor-pointer {
    cursor: pointer;
}
.badges-red {
    padding: 5px 10px;
    background: $color-red;
    color: $color-white;
    border-radius: 5px;
    display: inline-block;
    font-size: 12px;
}
.bg-green {
    background: $color-green;
}
.link-text {
    color: $color-black !important;
    text-decoration: underline;
}
.custom-pagination {
    font-size: 12px;
    .page-link {
        color: $color-black;
        background: transparent !important;
        border: 0px;
        &:focus {
            box-shadow: none;
        }
    }
    .pagination-active {
        font-weight: bold;
        color: $color-gray-90;
    }
}

/*custom-modal-css*/
.custom-modal {
    max-width: 550px;
    .modal-title {
        width: 100%;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
    }
    .modal-header {
        background: $color-black;
        color: $color-white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .modal-footer {
        background: $color-white;
        padding: 24px 36px;
    }
    .modal-body {
        background: $color-white;
    }
    .modal-content {
        background: transparent;
        border: 0px;
    }
    .close-modal-arrow {
        position: absolute;
        right: 15px;
        cursor: pointer;
        font-size: 20px;
    }
}
/*custom-modal-css-END*/

/*error_message-css*/
.error_message {
    width: 430px;
    position: relative;
    background: #ffffff;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    border-left: 10px solid #f17a7a;
    padding: 13px;
    padding-left: 70px;
    @media screen and (max-width: 767px) {
        width: 95%;
    }
    h4 {
        color: $color-light-red;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
    }
    p {
        font-size: 12px;
        color: $color-gray-80;
        font-weight: 400;
        margin-bottom: 0px;
    }
    i {
        font-size: 36px;
        color: $color-light-red;
        position: absolute;
        left: 18px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}
.success__message {
    border-color: $color-green;
    i {
        color: $color-green;
        font-size: 40px;
    }
    h4 {
        color: $color-green;
    }
    p {
        color: $color-gray-30;
    }
}

/*error_message-css-END*/
