.data-table {
    background: white;
    width: 100%;
    th {
        white-space: nowrap;
        background: $color-black;
        padding: 8px;
        font-size: 12px;
        font-weight: 500;
        color: $color-white;
        &:first-child {
            border-top-left-radius: 5px;
        }
        &:last-child {
            border-top-right-radius: 5px;
        }
    }
    tbody {
        td {
            padding: 8px;
            border-bottom: 1px solid $color-gray-40;
            color: $color-gray-90;
            font-size: 12px;
            white-space: nowrap;
        }
    }
}

.navigation{
    margin-bottom: 0px;
}