$color-balck: #4d4d4d;
$color-red: #d32139;
$color-green: #4bca61;
$color-dark-red: #ff3b56;
$color-light-red: #f17a7a;
$color-white: #fff;
$color-light-gray: #f6f6f6;
$color-gray-90: #000;
$color-gray-80: #57686f;
$color-gray-50: #ccc;
$color-gray-40: #ecf4ff;
$color-gray-30: #a8b5bc;
