@import "utilities";
@import "variables";
@import "header";
@import "sidebar";
@import "table";
@import "common";
@import "form";

*,
html,
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.main-wrapper {
    margin-top: 60px;
    padding: 20px;
    padding-left: 250px;
}

.mouse-pointer {
    cursor: pointer;
}

.h-40 {
    height: 40px;
}

.no-record {
    padding: 20px 0px;
    font-weight: 500;
}

.cst-error-style {
    font-weight: 500;
}

.ngx-pagination .current {
    background: $color-red !important;
}

.p-dropdown {
    width: 100%;

    &.custom-dropdown {
        width: 30%;
    }

    &.custom-launguage-dropdown {
        width: 33%;
    }
}