@import "utilities";
@import "variables";
@import "header";
@import "sidebar";
@import "table";
@import "common";
@import "form";

*,
html,
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;

    &[dir="rtl"] {
        .user-char-logo {
            margin-left: 10px;
        }

        .dropdown {
            div {
                i {
                    padding-right: 0.5rem;
                }
            }
        }

        .sidebarIconToggle {
            right: 470px !important;

            .cst-filter-btn {
                width: 150px;

                .cst-filter-icon {
                    margin-left: 5px;
                }
            }
        }

        label {
            float: right;

            &.form-label {
                text-align: start;
            }
        }

        .btn-close {
            align-self: center;
            padding-right: 20px;
        }

        .cst-rtl {
            label {
                margin-left: 10px;
                float: initial;
            }

            button {
                margin-right: 10px;
            }
        }
    }
}

.ms-3 {
    margin-right: 1rem !important;
}

.main-wrapper {
    margin-top: 60px;
    padding: 20px;
    padding-left: 250px;

    &-nodata {
        margin-top: 60px;
        padding: 20px;
        padding-left: 250px;
        font-size: 22px;
        font-weight: 500;
    }
}

.mouse-pointer {
    cursor: pointer;
}

.h-40 {
    height: 40px;
}

.no-record {
    padding: 20px 0px;
    font-weight: 500;
}

.cst-error-style {
    font-weight: 500;
}

.ngx-pagination .current {
    background: $color-red !important;
}

.p-dropdown {
    width: 100%;

    &.custom-dropdown {
        width: 30%;
    }

    &.custom-launguage-dropdown {
        width: 33%;
    }
}

.cst-primary {
    height: 45px;
    width: 50%;

    &-user {
        width: 30%;
        height: 45px;
    }
}

.p-checkbox .p-checkbox-box.p-highlight {
    border-color: $color-red;
    background: $color-red;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: $color-red;
    background: $color-red;
    color: $color-white;
}

.p-checkbox-label {
    color: $color-black;
    text-align: center;
}

// mixin for table header dynamic width
$columns: 5;
$column-size: 10%;

@mixin cst-theader-x {
    @for $i from 1 through $columns {
        .cst-theader-#{$i} {
            width: $column-size * $i;
        }
    }
}

@include cst-theader-x();
