@import "utilities";
@import "variables";
@import "header";
@import "sidebar";
@import "table";
@import "common";
@import "form";

*,
html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;

  &[dir="rtl"] {
    .user-char-logo {
      margin-left: 10px;
    }

    .dropdown {
      div {
        i {
          padding-right: 0.5rem;
        }
      }
    }

    .sidebarIconToggle {
      right: 690px !important;

      .cst-filter-btn {
        width: 150px;

        .cst-filter-icon {
          margin-left: 5px;
        }
      }
    }

    label {
      float: right;

      &.form-label {
        text-align: start;
      }
    }

    .btn-close {
      align-self: center;
      padding-right: 20px;
    }

    .cst-rtl {
      label {
        margin-left: 10px;
        float: initial;
      }

      button {
        margin-right: 10px;
      }
    }

    .sidenav {
      right: 0px;
    }

    .main-wrapper {
      padding: 20px;
      padding-right: 250px;
    }

    .sidenav .dropdown_list_wrapper .dropdown_list {
      border: none;
      border-right: 1px solid #ccc;
      margin-right: 45px;

      li {
        display: flex;

        a {
          float: right;
        }
      }
    }

    .dropdown-link_active:before {
      left: 0px !important;
      right: -5px;
    }

    .sidenav .dropdown_list_wrapper {
      padding-left: 0px;
    }

    .sidenav .nav-link li a .nav-link_icon {
      position: relative;
      left: 10px;
    }

    .sidenav .dropdown_list_wrapper .dropdown_list a {
      padding-right: 25px;
    }
  }
}

.ms-3 {
  margin-right: 1rem !important;
}

.main-wrapper {
  margin-top: 53px;
  padding: 20px;
  padding-left: 230px;

  &-nodata {
    margin-top: 60px;
    padding: 20px;
    padding-left: 250px;
    font-size: 22px;
    font-weight: 500;
  }
}

.mouse-pointer {
  cursor: pointer;
}

.h-35 {
  height: 35px;
}

.no-record {
  padding: 20px 0px;
  font-weight: 500;
}

.cst-error-style {
  font-weight: 500;
}

.ngx-pagination .current {
  background: $color-red !important;
}

.p-dropdown {
  width: 100%;

  &.custom-dropdown {
    width: 30%;
  }

  &.custom-launguage-dropdown {
    width: 33%;
  }
}

.p-multiselect {
  width: 100%;
}

.cst-primary {
  height: 45px;
  width: 50%;

  &-user {
    width: 30%;
    height: 45px;
  }
}

.p-checkbox .p-checkbox-box.p-highlight {
  border-color: $color-red;
  background: $color-red;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
  border-color: $color-red;
  background: $color-red;
  color: $color-white;
}

.p-checkbox-label {
  color: $color-black;
  text-align: center;
}

.dropdown-item {
  padding: 0.2rem 1rem;
}

// mixin for table header dynamic width
$columns: 5;
$column-size: 10%;

@mixin cst-theader-x {
  @for $i from 1 through $columns {
    .cst-theader-#{$i} {
      width: $column-size * $i;
    }
  }
}

@include cst-theader-x();

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: green;
}

input:focus+.slider {
  box-shadow: 0 0 1px green;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
  color: #000;
}

.p-button.p-button-text {
  color: $color-red;
}

.p-button.p-button-text {
  border-color: $color-red;

  &:enabled {

    &:active,
    &:hover {
      color: $color-red;
      border-color: $color-red;
    }

    box-shadow: none;
  }
}

.p-accordion .p-accordion-header .p-accordion-header-link {
  padding: 10px 15px;
}

.p-card {
  color: $color-gray-80;
  //   border-top: 5px solid $color-red;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.p-card .p-card-body {
  padding: 0rem 14px;
}

.p-card .p-card-content {
  padding: 0;
}

.w-700 {
  font-weight: 400;
  font-size: 30px;
  padding: 23px 15px;
  color: white;
}

.c-style {
  padding: 17px 10px;
  font-size: 22px;
  text-align: center;
  align-self: center;
}
