@import "utilities";
@import "variables";
@import "header";
@import "sidebar";
@import "table";
@import "common";
@import "form";

*,
html,
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.main-wrapper {
    margin-top: 60px;
    padding: 20px;
    padding-left: 250px;
}

.mouse-pointer {
    cursor: pointer;
}