<div class="">
  <input type="checkbox" name="sideMenu" [(ngModel)]="sideMenu" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle"
    [ngStyle]="{'right': this.currentUrl === 'showPatients' ? '100px' : (this.currentLan === 'fr' ? '330px' : (this.currentLan === 'en' ? (this.currentUrl === 'showLocation' ? '255px' : '230px') : '275px'))}">
    <div class="btn btn-black cst-filter-btn">
      <ng-container *ngIf="this.currentUrl === 'manageFacility'; else Filter">
        {{'Location' | translate}}
      </ng-container>
      <ng-template #Filter>
        <i class="bi bi-filter-circle mouse-pointer cst-filter-icon" aria-hidden="true"></i>
        {{'Filter' | translate}}
      </ng-template>
    </div>
  </label>
  <div id="sidebarMenu" class="right-side-menu">
    <div class="side-menu-header">
      {{'Location Filter' | translate}}
      <i class="bi bi-x-lg mouse-pointer" (click)="this.sideMenu=false" aria-hidden="true"></i>
    </div>
    <div class="right-side-menu-inner">
      <app-location-dropdown (locationFormValueAndDropdownArr)="getFormValue($event)">
      </app-location-dropdown>
    </div>
    <div class="side-menu-footer">
      <button (click)="saveData()" class="btn btn-blue">
        {{'Get Results' | translate}}
      </button>
    </div>
  </div>
</div>
