<div class="container-fluid">
  <div class="row align-items-center">
    <!--signup_left-col-->
    <div class="col-sm-12 col-md-5 col-12 p-0">
      <div class="signup_left-col signup_left-col-signin">
        <div class="signup_left-col_inner">
          <div><img src="../../../../assets/images/emcare-icon.png" alt="EMCARE"></div>
          <div class="mt-3"> <img src="../../../../assets/images/img-01.png" class="people-img-fluid img-fluid"
              alt="person-logo"> </div>
          <p class="font-size-15 mt-3">The WHO Em Care application is an executable reference software, which accurately
            represents the intentions, operational, and functional requirements of the WHO recommendations for emergency
            settings.
          </p>
          <div class="mt-3"> <img src="../../../../assets/images/whologo.jpg" class="who-img-fluid" alt="person-logo">
          </div>
        </div>
      </div>
    </div>
    <!--signup_left-col-END-->

    <!--signup_form_wrapper-->
    <div class="col-12 col-sm-12 col-md-7">
      <div class="signup_form_wrapper">
        <form [formGroup]="signupForm">
          <div class="mt-5 mb-5 text-center">
            <h1 class="heading">Sign Up</h1>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="mb-3">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control custom-input" formControlName="firstname"
                  [ngClass]="{ 'is-invalid': submitted && getFormConfrols.firstname.errors }" />
                <div *ngIf="submitted && getFormConfrols.firstname.errors" class="invalid-feedback">
                  <div *ngIf="getFormConfrols.firstname.errors.required">Firstname is required</div>
                  <div *ngIf="getFormConfrols.firstname.errors.pattern">Invalid First Name</div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control custom-input" formControlName="lastname"
                  [ngClass]="{ 'is-invalid': submitted && getFormConfrols.lastname.errors }" />
                <div *ngIf="submitted && getFormConfrols.lastname.errors" class="invalid-feedback">
                  <div *ngIf="getFormConfrols.lastname.errors.required">Lastname is required</div>
                  <div *ngIf="getFormConfrols.lastname.errors.pattern">Invalid Last Name</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" class="form-control custom-input" formControlName="username"
                  (input)="error ? error = null : ''"
                  [ngClass]="{ 'is-invalid': submitted && (getFormConfrols.username.errors || !!this.error) }" />
                <div *ngIf="submitted && getFormConfrols.username.errors" class="invalid-feedback">
                  <div *ngIf="getFormConfrols.username.errors.required">Username is required</div>
                  <div *ngIf="getFormConfrols.username.errors.pattern">Invalid username</div>
                </div>
                <div *ngIf="submitted && !!error" class="invalid-feedback">
                  <div *ngIf="!!error">This Email is Already Registered with Emcare</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" formControlName="password" class="form-control custom-input"
                  [ngClass]="{ 'is-invalid': submitted && getFormConfrols.password.errors }" />
                <div *ngIf="submitted && getFormConfrols.password.errors" class="invalid-feedback">
                  <div *ngIf="getFormConfrols.password.errors.required">Password is required</div>
                </div>
              </div>
            </div>
            <div class="col-6 ">
              <div class="mb-3">
                <label class="form-label">Confirm Password</label>
                <input type="password" formControlName="confirmPassword" class="form-control custom-input"
                  [ngClass]="{ 'is-invalid': submitted && getFormConfrols.confirmPassword.errors }" />
                <div *ngIf="submitted && getFormConfrols.confirmPassword.errors" class="invalid-feedback">
                  <div *ngIf="getFormConfrols.confirmPassword.errors.required">Confirm Password is required</div>
                  <div *ngIf="getFormConfrols.confirmPassword.errors.mustMatch">Passwords must match</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mt-3">
              <div class="mb-3">
                <label class="form-label">{{'PhoneNumber' | translate}}</label>
                <ngx-intl-tel-input [cssClass]="'custom'" [preferredCountries]="preferredCountries"
                  [enableAutoCountrySelect]="false" [enablePlaceholder]="true" [searchCountryFlag]="true"
                  [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
                  [selectedCountryISO]="this.signupForm.get('countryCode').value" [maxLength]="15"
                  [separateDialCode]="separateDialCode" [phoneValidation]="true"
                  [numberFormat]="PhoneNumberFormat.National" name="phone" formControlName="phone">
                </ngx-intl-tel-input>
                <div *ngIf="submitted && this.signupForm.controls.phone.value == null" class="error">
                  {{'Phone Required Message' | translate}}
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 col-sm-6">
              <div class="mb-3">
                <label class="form-label">Facility</label>
                <p-multiSelect
                  [ngStyle]="{'border': submitted && this.signupForm.controls.location.value == '' ? '1px solid red' : ''}"
                  [options]="facilityArr" placeholder="Select a facility" formControlName="location" optionLabel="name">
                </p-multiSelect>
                <div *ngIf="submitted && this.signupForm.controls.location.value == ''" style="color: #dc3545">
                  <div *ngIf="getFormConfrols.location.errors.required">Location is required</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div *ngIf="roleArr.length>0" class="mb-3">
                <label class="form-label">Role</label>
                <p-dropdown
                  [ngStyle]="{'border': submitted && this.signupForm.controls.role.value == '' ? '1px solid red' : ''}"
                  [options]="roleArr" placeholder="Select a role" formControlName="role" optionLabel="name">
                </p-dropdown>
                <div *ngIf="submitted && this.signupForm.controls.role.value == ''" style="color: #dc3545">
                  <div *ngIf="getFormConfrols.role.errors.required">Role is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 col-sm-6">
              <button (click)="navigateToLogin()" class="btn btn-black p-l-70 p-r-70 mb-5 mr-5" style="width: 210px;"><i
                  class="bi bi-chevron-left" aria-hidden="true"></i>Back</button>
            </div>
            <div class="col-12 col-sm-6">
              <button (click)="userSignup()" class="btn btn-blue p-l-70 p-r-70 mb-5"
                style="width: 210px;">Signup</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--signup_form_wrapper-END-->
  </div>
</div>
