<div *ngIf="isView" class="main-wrapper-no-heading">
  <h1 class="heading">{{'Consultation' | translate}}</h1>
  <hr>
  <div class="row">
    <div class="col-2 align-self-center">
      <label>{{'Select Encounter' | translate}}</label>
    </div>
    <div class="col-4">
      <p-dropdown (onChange)="getEncounterData()" [(ngModel)]="selectedEnKey" placeholder="Select an encounter"
        [options]="this.encounterKeys" optionLabel="id">
      </p-dropdown>
    </div>
    <div class="col-6"></div>
  </div>
  <hr>
  <ng-container *ngIf="selectedEnKey && selectedEnKey.id">
    <div class="my-2">
      <div class="patient-data ps-4">
        <ul>
          <li>{{'Patient Name' | translate}}:<span>{{patientData['name']}}</span></li>
          <li>{{'Patient Age' | translate}}:<span>{{patientData['age']}}</span></li>
          <li>{{'Patient Gender' | translate}}:<span>{{patientData['gender']}}</span></li>
        </ul>
      </div>
      <hr>
    </div>
    <div class="consultation-tab-btn">
      <ul>
        <li (click)="selectEncounter(0)" [ngClass]="{'consultation-tab-active': selectedEncounterIcon === 0}">
          <div class="registration-icon"></div>
          {{'Registration' | translate}}
        </li>
        <li (click)="selectEncounter(1)" [ngClass]="{'consultation-tab-active': selectedEncounterIcon === 1}">
          <div class="danger_sign-icon"></div>
          {{"Danger Sign" | translate}}
        </li>
        <li (click)="selectEncounter(2)" [ngClass]="{'consultation-tab-active': selectedEncounterIcon === 2}">
          <div class="measurements-icon"></div>
          {{'Measurements' | translate}}
        </li>
        <li (click)="selectEncounter(3)" [ngClass]="{'consultation-tab-active': selectedEncounterIcon === 3}">
          <div class="symptoms-icon"></div>
          {{'Symptoms' | translate}}
        </li>
        <li (click)="selectEncounter(4)" [ngClass]="{'consultation-tab-active': selectedEncounterIcon === 4}">
          <div class="signs-icon"></div>
          {{"Signs" | translate}}
        </li>
        <li (click)="selectEncounter(5)" [ngClass]="{'consultation-tab-active': selectedEncounterIcon === 5}">
          <div class="assessments-icon"></div>
          {{'Assessments' | translate}}
        </li>
        <li (click)="selectEncounter(6)" [ngClass]="{'consultation-tab-active': selectedEncounterIcon === 6}">
          <div class="classifications-icon"></div>
          {{'Classifications' | translate}}
        </li>
      </ul>
    </div>
    <h1 class="heading cst-rtl-heading" style="margin-left: 160px;">{{iconObj[selectedEncounterIcon]}}</h1>
    <div class="consultation-tab-content">
      <div *ngIf="currentObj && currentObj['queAnsObj'].length > 0; else noData">
        <div class="row">
          <ng-container *ngFor="let obj of currentObj['queAnsObj']">
            <div class="col-lg-4 tab-content-border-bottom tab-content-text tab-content-border p-4">
              <span>{{obj.label}}:</span>
              <h4>{{obj.value}}</h4>
            </div>
          </ng-container>
        </div>
      </div>
      <ng-template #noData>
        <h5 class="ml-2">
          {{'No Consultations' | translate}} for {{iconObj[selectedEncounterIcon]}}!
        </h5>
      </ng-template>
    </div>
  </ng-container>
</div>
<div *ngIf="!isView" class="main-wrapper-nodata">
  {{'NoAccess' | translate}}
</div>
