.cst-icons {
    border: 1px solid #746C70;
    padding: auto;
    margin-left: 20px;
    width: 95px;
}

.icon-text {
    font-size: 11px;
    justify-self: center;
}

.cst-img-icon {
    opacity: 0.55;
    cursor: pointer;
    text-align: center;
    padding-left: 15px;

    &.selected {
        opacity: 1;
    }

    &:hover {
        opacity: 1;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.cst-questionare {
    font-size: 17px;
}