<div *ngIf="isAllowed" class="main-wrapper-no-heading">
  <div class="form-wrapper">
    <form [formGroup]="locationForm" name="locationForm" novalidate>
      <div class="mb-5">
        <h1 class="heading">
          <ng-container *ngIf="!isEdit; else updateLocation">
            {{'Add Location' | translate}}
          </ng-container>
          <ng-template #updateLocation>
            {{'Update Location' | translate}}
          </ng-template>
        </h1>
        <hr>
      </div>
      <div class="row">
        <div *ngIf="locationTypeArr.length>0" class="col-12 col-sm-6">
          <div class="mb-3">
            <label class="form-label">{{'Location Type' | translate}}</label>
            <p-dropdown
              [ngStyle]="{'border': submitted && this.locationForm.controls.locationType.value == '' ? '1px solid red' : ''}"
              [options]="locationTypeArr" placeholder="Select a locationType" formControlName="locationType"
              optionLabel="name" [filter]=true>
            </p-dropdown>
            <div *ngIf="submitted && this.locationForm.controls.locationType.value == ''" style="color: #dc3545">
              <div *ngIf="getFormConfrols.locationType.errors.required">{{'Location Type Required Message' | translate}}</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="mb-3">
            <label class="form-label">{{'Location Name' | translate}}</label>
            <input formControlName="locationName" type="text" class="form-control custom-input" id="locationName"
              placeholder="{{'Location Name Placeholder' | translate}}"
              [ngClass]="{ 'is-invalid': submitted && getFormConfrols.locationName.errors }">
            <div *ngIf="submitted && getFormConfrols.locationName.errors" class="invalid-feedback">
              <div class="cst-error-style" *ngIf="getFormConfrols.locationName.errors.required">
                {{'Location Name Required Message' | translate}}</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="mb-3">
            <label class="form-label">{{'Parent' | translate}}</label>
            <p-dropdown [filter]=true [options]="locationArr" placeholder="Select a parent" formControlName="parent"
              optionLabel="name">
            </p-dropdown>
          </div>
        </div>
      </div>
      <div class="text-end mt-5">
        <hr>
        <button routerLink="/showLocation" class="btn-black btn ms-3">
          <i class="bi bi-chevron-left" aria-hidden="true"></i> {{'Back' | translate}}
        </button>
        <button (click)="saveData()" class="btn-blue btn">
          <ng-container *ngIf="!isEdit; else updateLocation">
            {{'Add Location' | translate}}
          </ng-container>
          <ng-template #updateLocation>
            {{'Update Location' | translate}}
          </ng-template>
        </button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="!isAllowed" class="main-wrapper-nodata">
  {{'NoAccess' | translate}}
</div>
