<div class="main-wrapper">
  <div class="form-wrapper">
    <form [formGroup]="locationForm" name="locationForm" novalidate>
      <div class="mb-5">
        <h1 class="heading">{{ !isEdit ? 'Add Location' : 'Update Location'}}</h1>
        <hr>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="mb-3">
            <label class="form-label">Location Type</label>
            <select class="form-control custom-input" [ngClass]="{ 'is-invalid': submitted && f.locationType.errors }"
              formControlName="locationType" id="locationType">
              <ng-container *ngFor="let data of locationTypeArr">
                <option value="{{data.code}}">{{data.name}}</option>
              </ng-container>
            </select>
            <div *ngIf="submitted && f.locationType.errors" class="invalid-feedback">
              <div class="cst-error-style" *ngIf="f.locationType.errors.required">*Location type is required</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="mb-3">
            <label class="form-label">Location Name</label>
            <input formControlName="locationName" type="text" class="form-control custom-input" id="locationName"
              placeholder="Enter location name" [ngClass]="{ 'is-invalid': submitted && f.locationName.errors }">
            <div *ngIf="submitted && f.locationName.errors" class="invalid-feedback">
              <div class="cst-error-style" *ngIf="f.locationName.errors.required">*Location name is required</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="mb-3">
            <label class="form-label">Parent</label>
            <ng-container *ngIf="locationArr.length>0; else noLocation">
              <select class="form-control custom-input" formControlName="parent" id="parent">
                <ng-container *ngFor="let data of locationArr">
                  <option value="{{data.id}}">{{data.name}}</option>
                </ng-container>
              </select>
            </ng-container>
            <ng-template #noLocation>
              <input formControlName="parent" type="text" class="form-control custom-input" id="parent"
                placeholder="Enter parent">
            </ng-template>
          </div>
        </div>
      </div>
      <div class="text-end mt-5">
        <hr>
        <button routerLink="/showLocation" class="btn-red btn mr-3">
          <i class="bi bi-chevron-left"></i> Back
        </button>
        <button (click)="saveData()" class="btn-red btn">
          {{ !isEdit ? 'Create Location' : 'Update Location'}}
        </button>
      </div>
    </form>
  </div>
</div>
