<div class="main-wrapper">
  <h1 class="heading">{{'Features' | translate}}</h1>
  <hr>
  <div class="row align-items-center mb-3">
    <div class=" col-lg-3 col-xxl-2 col-md-5 position-relative">
      <input class="form-control custom-input" id="exampleFormControlInput1" [(ngModel)]="searchString"
        (input)="searchFilter()" placeholder="{{'Search Placeholder' | translate}}">
    </div>
  </div>
  <!--Table-->
  <div *ngIf="!isAPIBusy" class="table-responsive">
    <table class="data-table">
      <thead>
        <tr>
          <th>{{'ID' | translate}}</th>
          <th>{{'Feature Name' | translate}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="filteredFeatureList && filteredFeatureList.length > 0; else noRecords">
          <ng-container *ngFor="let feature of filteredFeatureList; let i=index">
            <tr>
              <td>{{i + 1}}</td>
              <td>{{feature.menuName}}</td>
              <td class="text-end">
                <i (click)="updateFeature(i)" class="bi bi-pencil-square cursor-pointer font-size-16"></i>
                <!-- <i class="bi bi-trash ms-3 text-red cursor-pointer font-size-16"></i> -->
              </td>
            </tr>
          </ng-container>
        </ng-container>
        <ng-template #noRecords>
          <div class="no-record">
            {{'No Records' | translate}}
          </div>
        </ng-template>
      </tbody>
    </table>
  </div>
  <!--Table-END-->
</div>
