.cst-border-right {
    border-right: 1px solid #c7c8c9;
}

.cst-log-btn {
    text-align: right;
    margin-top: 25px;
}

.customd-div {
    padding: 10px;
    border: 1px solid #c7c8c9;
    margin-top: 20px;
}

.chip {
    display: inline-block;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    border-radius: 25px;
    margin-bottom: 5px;
    background-color: #f1f1f1;
}