<div *ngIf="isView" class="main-wrapper">
  <div class="custom-header">
    <h1 class="heading">{{'Facilities' | translate}}</h1>
  </div>
  <div class="row align-items-center mb-3">
    <div class="col-lg-3 col-xxl-2 col-md-5 position-relative">
      <input class="form-control custom-input h-35" id="exampleFormControlInput1" [(ngModel)]="searchString"
        (input)="searchFilter()" placeholder="{{'Search Placeholder' | translate}}">
    </div>
    <div class="col-3 cst-d-flex">
      <p-checkbox styleClass="form-label" [(ngModel)]="isInactive" label="Show Inactive Facilities" [binary]="true"
        inputId="binary" value="true" (onChange)="onChangeCheckboxForFacility()">
      </p-checkbox>
    </div>
    <div *ngIf="isAdd" class="col text-end"><button class="btn btn-blue" routerLink="/addFacility">+
        {{'Add Facility' | translate}}</button></div>
  </div>
  <!--Table-->
  <div *ngIf="!isAPIBusy" class="table-responsive">
    <table class="data-table" aria-labelledby="facility-list">
      <thead>
        <tr>
          <th>{{'Sr. No' | translate}}</th>
          <th scope="col">{{'Facility' | translate}}</th>
          <th scope="col">{{'Organization' | translate}}</th>
          <th scope="col">{{'Address' | translate}}</th>
          <th scope="col">{{'Location' | translate}}</th>
          <th scope="col">{{'Status' | translate}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="facilityArr && facilityArr.length > 0; else noRecords">
          <ng-container *ngFor="let data of facilityArr | 
          paginate : { itemsPerPage: tableSize, currentPage: currentPage, totalItems: totalCount }; let i=index">
            <tr>
              <td>{{currentPage == 0 ? ((currentPage)*10 + i + 1) : ((currentPage-1)*10 + i + 1)}}</td>
              <td>{{data.facilityName ? data.facilityName : 'NA'}}</td>
              <td>{{data.organizationName}}</td>
              <td>{{data.address ? data.address : 'NA'}}</td>
              <td>
                {{data.locationName ? data.locationName : 'NA'}}
              </td>
              <td>
                <span class="badges-red" [ngClass]="{ 
                  'bg-green' : data.status === 'Active',
                  'bg-yellow' : data.status === 'Suspended'
                }">
                  {{data.status}}
                </span>
              </td>
              <td class="">
                <i aria-hidden=" true" *ngIf="isEdit" (click)="editFacility(i)"
                  class="bi bi-pencil-square cursor-pointer font-size-14"></i>
              </td>
            </tr>
          </ng-container>
        </ng-container>
        <ng-template #noRecords>
          <div class="no-record">
            {{'No Records' | translate}}
          </div>
        </ng-template>
      </tbody>
    </table>
    <div *ngIf="facilityArr && facilityArr.length > 0" class="d-flex justify-content-end mt-3">
      <pagination-controls responsive="true" [previousLabel]="getLabel(0)" [nextLabel]="getLabel(1)"
        (pageChange)="onIndexChange($event)">
      </pagination-controls>
    </div>
  </div>
  <!--Table-END-->
</div>
<div *ngIf="!isView" class="main-wrapper-nodata">
  {{'NoAccess' | translate}}
</div>
