<div *ngIf="isView" class="main-wrapper">
  <h1 class="heading">{{'Facilities' | translate}}</h1>
  <hr>
  <div class="row align-items-center mb-3">
    <div class=" col-lg-3 col-xxl-2 col-md-5 position-relative">
      <input class="form-control custom-input h-35" id="exampleFormControlInput1" [(ngModel)]="searchString"
        (input)="searchFilter()" placeholder="{{'Search Placeholder' | translate}}">
    </div>
    <div *ngIf="isAdd" class="col text-end"><button class="btn btn-red" routerLink="/addFacility">+
        {{'Add Facility' | translate}}</button></div>
  </div>
  <!--Table-->
  <div *ngIf="!isAPIBusy" class="table-responsive">
    <table class="data-table" aria-labelledby="facility-list">
      <thead>
        <tr>
          <th>{{'ID' | translate}}</th>
          <th scope="col">{{'Name' | translate}}</th>
          <th scope="col">{{'Address' | translate}}</th>
          <th scope="col">{{'Status' | translate}}</th>
          <th scope="col">{{'Location' | translate}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="facilityArr && facilityArr.length > 0; else noRecords">
          <ng-container *ngFor="let data of facilityArr; let i=index">
            <tr>
              <td>{{i + 1}}</td>
              <td>{{data.managingOrganization.display}}</td>
              <td>{{data.address && data.address.line[0]}}</td>
              <td>{{data.status ? capitalizeFirstLetter(data.status) : 'NA'}}</td>
              <td>{{data.extension ? getLocationNameByID(data.extension[0].valueIdentifier.value) : 'NA'}}</td>
              <td class="">
                <i aria-hidden="true" *ngIf="isEdit" (click)="editFacility(i)"
                  class="bi bi-pencil-square cursor-pointer font-size-14"></i>
                <i aria-hidden="true" *ngIf="isDelete" (click)="deleteFacility(i)"
                  class="bi bi-trash ms-3 text-red cursor-pointer font-size-14"></i>
              </td>
            </tr>
          </ng-container>
        </ng-container>
        <ng-template #noRecords>
          <div class="no-record">
            {{'No Records' | translate}}
          </div>
        </ng-template>
      </tbody>
    </table>
  </div>
  <!--Table-END-->
</div>
<div *ngIf="!isView" class="main-wrapper-nodata">
  Sorry you don't have access to this page!!
</div>
