<div class="main-wrapper">
  <div class="form-wrapper">
    <form [formGroup]="userForm" name="userForm" novalidate>
      <div class="mb-5">
        <h1 class="heading">{{ !isEdit ? 'Add User' : 'Update User'}}</h1>
        <hr>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="mb-3">
            <label class="form-label">First Name</label>
            <input class="form-control custom-input" formControlName="firstName" type="text" id="firstName"
              placeholder="Enter first name" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div class="cst-error-style" *ngIf="f.firstName.errors.required">*Firstname is required</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="mb-3">
            <label class="form-label">Last Name</label>
            <input class="form-control custom-input" formControlName="lastName" type="text" id="lastName"
              placeholder="Enter last name" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div class="cst-error-style" *ngIf="f.lastName.errors.required">*LastName is required</div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!isEdit" class="row mt-3">
        <div class="col-12 col-sm-6">
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input formControlName="email" id="email" placeholder="Enter Email" type="email"
              class="form-control custom-input" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div class="cst-error-style" *ngIf="f.email.errors.required">*Email is required</div>
              <div class="cst-error-style" *ngIf="f.email.errors.pattern">*Email is invalid</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="mb-3">
            <label class="form-label">Role</label>
            <select formControlName="role" [ngClass]="{ 'is-invalid': submitted && f.role.errors }"
              class="form-control custom-input" id="role">
              <ng-container *ngFor="let role of roles">
                <option value="{{role.name}}">{{role.name}}</option>
              </ng-container>
            </select>
            <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
              <div class="cst-error-style" *ngIf="f.role.errors.required">*Role is required</div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!isEdit" class="row mt-3">
        <div class="col-12 col-sm-6">
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" formControlName="password" class="form-control custom-input"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div class="cst-error-style" *ngIf="f.password.errors.required">*Password is required</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="mb-3">
            <label class="form-label">Confirm Password</label>
            <input type="password" formControlName="confirmPassword" class="form-control custom-input"
              [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
              <div class="cst-error-style" *ngIf="f.confirmPassword.errors.required">*Confirm Password is required</div>
              <div class="cst-error-style" *ngIf="f.confirmPassword.errors.mustMatch">*Passwords must match</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label class="form-label">Location</label>
            <ng-container *ngIf="locationArr.length>0; else noLocation">
              <select class="form-control custom-input" [ngClass]="{ 'is-invalid': submitted && f.location.errors }"
                formControlName="location" id="location">
                <ng-container *ngFor="let location of locationArr">
                  <option value="{{location.id}}">{{location.name}}</option>
                </ng-container>
              </select>
            </ng-container>
            <ng-template #noLocation>
              <input formControlName="location" type="text" class="form-control custom-input"
                [ngClass]="{ 'is-invalid': submitted && f.location.errors }" id="location" placeholder="Enter Location">
            </ng-template>
            <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
              <div class="cst-error-style" *ngIf="f.location.errors.required">*Location is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-end mt-5">
        <hr>
        <button routerLink="/showUsers" class="btn-red btn mr-3">
          <i class="bi bi-chevron-left"></i> Back
        </button>
        <button (click)="saveData()" class="btn-red btn">
          {{ !isEdit ? 'Create User' : 'Update User'}}
        </button>
      </div>
    </form>
  </div>
</div>
