<div *ngIf="isView" class="main-wrapper">
  <div class="custom-header">
    <h1 class="heading">{{'Codes' | translate}}</h1>
  </div>
  <div class="row align-items-center mb-3">
    <div class="col-lg-3 col-xxl-2 col-md-5 position-relative">
      <input class="form-control custom-input h-35" id="exampleFormControlInput1" [(ngModel)]="searchString"
        (input)="searchFilter()" placeholder="{{'Search Placeholder' | translate}}">
    </div>
    <div *ngIf="isAdd" class="col text-end">
      <button class=" btn btn-blue" routerLink="/manageCode">+ {{'Add Code' | translate}}</button>
    </div>
  </div>
  <!--Table-->
  <div *ngIf="!isAPIBusy" class="table-responsive">
    <table class="data-table" aria-labelledby="consultations-list">
      <thead>
        <tr>
          <th>{{'Sr. No' | translate}}.</th>
          <th>{{'Code' | translate}}</th>
          <th>{{'Code Description' | translate}}</th>
          <th *ngIf="isEdit">{{'Action' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="codeArr && codeArr.length > 0; else noRecords">
          <ng-container *ngFor="let code of codeArr |
            paginate : { itemsPerPage: tableSize, currentPage: currentPage, totalItems: totalCount }; let i=index">
            <tr>
              <td>{{currentPage == 0 ? ((currentPage)*10 + i + 1) : ((currentPage-1)*10 + i + 1)}}</td>
              <td>{{code.code ? code.code : 'NA'}}</td>
              <td>{{code.codeDescription}}</td>
              <td *ngIf="isEdit">
                <i (click)="editCode(code)" class="bi bi-pencil-square cursor-pointer font-size-14"
                  aria-hidden="true"></i>
              </td>
            </tr>
          </ng-container>
        </ng-container>
        <ng-template #noRecords>
          <div class="no-record">
            {{'No Records' | translate}}
          </div>
        </ng-template>
      </tbody>
    </table>
    <div *ngIf="codeArr && codeArr.length > 0" class="d-flex justify-content-end mt-3">
      <pagination-controls responsive="true" previousLabel="Prev" nextLabel="Next" (pageChange)="onIndexChange($event)">
      </pagination-controls>
    </div>
  </div>
</div>
<div *ngIf="!isView" class="main-wrapper-nodata">
  {{'NoAccess' | translate}}
</div>
