<div class="row w-100">
  <div class="col-1"></div>
  <div class="col-10 cst-main-component">
    <ng-container>
      <!-- description -->
      <div class="row">
        <div class="col-8">
          <h3 class="my-4">
            Terms of use and software license agreement
          </h3>
        </div>
        <div class="text-end col-4 mt-3">
          <button routerLink="/home" class="btn btn-blue ms-3">
            {{'Back' | translate}}
          </button>
        </div>
      </div>
      <span class="">
        Please read these Terms of Use and Software License Agreement (the “Agreement”) carefully before installing any
        component of Em Care (collectively called “Em Care”). By installing and/or using Em Care, you (the “Licensee”)
        enter into an agreement with the World Health Organization (“WHO”) and you accept all terms, conditions, and
        requirements of the Agreement.
      </span>
    </ng-container>
    <!-- COntent No. 1 -->
    <ng-container>
      <h4 class="my-3">
        1. Components and Types of Em Care
      </h4>
      <span>
        Em Care which you have downloaded and installed contains software developed by WHO (the “Software”). WHO has
        made
        three components of Em Care available, and you may have downloaded one or more components:
      </span>
      <ol class="mt-3">
        <li><strong>emcare-android:</strong> an android native application built with the help of Google's FHIR SDK, for
          use on
          mobile
          phones at the point of care;</li>
        <li><strong>emcare-web:</strong> Backend application (web) built using Spring Boot framework and PostgreSQL as
          its
          database,
          to
          support synchronization of data from mobile phones and storage on a server</li>
        <li><strong>emcare-ui:</strong> Front-end application built using Angular framework, to allow administration,
          configuration
          and
          management of the system through a web-browser. This Agreement governs your use of whichever component(s) of
          Em
          Care you have downloaded.</li>
      </ol>
    </ng-container>
    <!-- COntent No. 2 -->
    <ng-container>
      <h4 class="my-3">
        2. Third-party Software
      </h4>
      <p>
        <strong>2.1</strong> Third-party software needed to use Em Care. In order to run the Software, you will need to
        download
        and
        install dependencies described under the README files of the relevant component.
      </p>
      <p>
        <strong>2.2</strong> WHO disclaimers for third-party software. WHO makes no warranties whatsoever, and
        specifically
        disclaims
        any and all warranties, express or implied, that any dependencies are free of defects, virus free, able to
        operate
        on an uninterrupted basis, merchantable, fit for a particular purpose, accurate, non-infringing or appropriate
        for
        your technical system.
      </p>
      <p>
        <strong>2.3</strong> Third-party software user license(s) and use. To the extent you are required to enter into
        a
        user
        license in
        order to use one of the dependencies listed for each component, WHO is not a party to any such license, and WHO
        therefore disclaims all liability, responsibility, and/or involvement with any such license. WHO shall not be
        held
        liable or responsible for either any breach of any of the terms and conditions of dependency user licenses by
        you,
        or any damages arising from your use of any of the dependencies.
      </p>
      <p>
        <strong>2.4</strong> No WHO endorsement of third-party software. The use of dependencies listed under Em Care
        does
        not imply
        that
        any are endorsed or recommended by WHO in preference to others of a similar nature.
      </p>
    </ng-container>
    <!-- COntent No. 3 -->
    <ng-container>
      <h4 class="my-3">
        3. License and Terms of Use for the Software
      </h4>
      <p>
        <strong>3.1</strong> Copyright and license. The Software is copyright (©) World Health Organization, 2023, and
        is
        distributed under
        the terms of Apache License 2.0.
      </p>
    </ng-container>
    <!-- COntent No. 4 -->
    <ng-container>
      <h4 class="my-3">
        4. Terms of Use for the Data
      </h4>
      <p>
        <strong>4.1</strong> By using Em Care, you confirm that all data that you upload to, or use in, Em Care is
        either
        owned by
        you or,
        if not, you have obtained all necessary and relevant permissions to use the data in Em Care, and that WHO has no
        responsibility or control over the data you use in that regard. You understand that WHO will maintain your data
        on
        WHO’s data server specific to Em Care, and WHO will not, without your permission, otherwise use that data than
        to
        enable you to use Em Care. You confirm that you will not upload any data to Em Care or WHO’s servers which is
        personal information or data or would in any way be in violation of law, including privacy and intellectual
        property law.
      </p>
    </ng-container>
    <!-- COntent No. 5 -->
    <ng-container>
      <h4 class="my-3">
        5. Data protection
      </h4>
      <p>
        <strong>5.1</strong> WHO shall ensure an appropriate protection of personal data in accordance with its
        applicable
        rules and
        procedures. In this connection, personal data shall be:
      </p>
      <ol class="mt-3">
        <li>
          Processed fairly, for legitimate purposes and in a transparent manner in relation to the data subject;
        </li>
        <li>
          Collected for specified, explicit and legitimate purposes and not further processed in a manner that is
          incompatible with those purposes;
        </li>
        <li>
          Adequate, relevant and limited to what is necessary in relation to the purposes for which they are processed;
        </li>
        <li>
          Accurate and, where necessary, kept up to date;
        </li>
        <li>
          Kept in a form which permits identification of data subjects for no longer than is necessary for the purposes
          for which the personal data are processed; and
        </li>
        <li>
          Processed in a manner that ensures appropriate security of the personal data.
        </li>
      </ol>
      <p>
        <strong>5.2</strong> In this regard, WHO will comply with its personal data protection framework, which
        comprises,
        inter
        alia, the
        WHO Personal Data Protection Policy and the UN Personal Data Protection and Privacy Principles. See:
        <a target="_blank" href="https://archives.un.org/sites/archives.un.org/files/\_un-principles-on-personal-data-">
          https://archives.un.org/sites/archives.un.org/files/\_un-principles-on-personal-data-</a>
        protection-privacy-hlcm-2018.pdf
      </p>
    </ng-container>
    <!-- COntent No. 6 -->
    <ng-container>
      <h4 class="my-3">
        6. Disclaimers by WHO
      </h4>
      <p>
        <strong>6.1</strong> No WHO warranties. WHO makes no warranty with respect to Em Care, and disclaims all
        statutory
        or
        implied
        warranties, expressed or implied, as to the accuracy, completeness or usefulness of any information, apparatus,
        product, or process related to Em Care, including, without limitation, to any warranty of design or fitness for
        a
        particular purpose, even if WHO has been informed of such purpose. WHO does not represent that the use of Em
        Care
        would not infringe third parties' proprietary rights. WHO provides Em Care “as is”, and does not represent that
        Em
        Care is operational, free of defects, virus free, able to operate on an uninterrupted basis, or appropriate for
        your technical system.
      </p>
      <p>
        <strong>6.2</strong> Mentions of companies or products. Any mention of specific companies or of certain
        manufacturers’
        products
        does not imply that they are endorsed or recommended by the World Health Organization in preference to others of
        a
        similar nature that are not mentioned. Errors and omissions excepted, the names of proprietary products are
        distinguished by initial capital letters.
      </p>
    </ng-container>
    <!-- COntent No. 7 -->
    <ng-container>
      <h4 class="my-3">
        7. Limitation of WHO’s Liability
      </h4>
      <p>
        <strong>7.1</strong> WHO shall not be liable for any loss or damage arising directly or indirectly in connection
        with, or
        resulting
        from, your use of Em Care.
      </p>
      <p>
        <strong>7.2</strong> WHO further expressly excludes liability for any indirect, special, incidental or
        consequential damages
        which
        may arise in respect of Em Care and its use, and the results thereof, including, without limitation, any use of
        data.
      </p>
    </ng-container>
    <!-- COntent No. 8 -->
    <ng-container>
      <h4 class="my-3">
        8. Your Indemnification of WHO
      </h4>
      <p>
        <strong>8.1</strong> You shall indemnify, hold harmless, and defend at your own expense WHO, its officers,
        agents,
        and
        employees
        from and against any claims, demands, causes of action, and liability of any nature or kind resulting from or
        relating to your use of Em Care.
      </p>
    </ng-container>
    <!-- COntent No. 9 -->
    <ng-container>
      <h4 class="my-3">
        9. Term and Termination of this Agreement
      </h4>
      <p>
        <strong>9.1</strong> This Agreement shall remain in effect so long as you hold any copy of Em Care on any of
        your
        computer
        systems
        or storage media. This Agreement, including the rights granted under it, shall terminate automatically upon any
        breach by you of any of its terms. Further, WHO may terminate this Agreement, including the rights granted under
        it, at any time, with immediate effect, for any reason, by written notice to you. This Agreement is the entire
        agreement between you and WHO with respect to its subject matter. This Agreement may only be amended by mutual
        written agreement of you and WHO. 9.2 Upon termination of this License for any reason whatsoever, you shall
        immediately cease all use of Em Care and destroy and/or remove all copies of Em Care on your computer systems
        and
        storage media.
      </p>
    </ng-container>
    <!-- COntent No. 10 -->
    <ng-container>
      <h4 class="my-3">
        10. General Provisions
      </h4>
      <p>
        <strong>10.1</strong> You may not assign this Agreement without the prior written agreement of WHO (such
        agreement
        not to be
        unreasonably withheld).
      </p>
      <p>
        <strong>10.2</strong> This Agreement may not be supplemented, modified, amended, released or discharged, unless
        approved in
        writing
        by WHO. WHO reserves the right to make changes and updates to this Agreement without prior notification. Such
        changes and updates shall be applied as of the date of their issuance. Any waiver by WHO of any default or
        breach
        hereunder shall not constitute a waiver of any provision of this Agreement or of any subsequent default or
        breach
        of the same or a different kind.
      </p>
      <p>
        <strong>10.3</strong> If any provision of this Agreement is invalid or unenforceable, it is to that extent to be
        deemed
        omitted.
        The remainder of the Agreement shall be valid and enforceable to the maximum extent possible.
      </p>
      <p>
        <strong>10.4</strong> Paragraph headings in this Agreement are for reference only.
      </p>
      <p>
        <strong>10.5</strong> Any matter relating to the interpretation or application of this Agreement which is not
        covered by its
        terms
        shall be resolved by reference to Swiss law. Any dispute relating to the interpretation or application of this
        Agreement shall, unless amicably settled, be subject to conciliation. In the event of failure of the latter, the
        dispute shall be settled by arbitration.The arbitration shall be conducted in accordance with the modalities to
        be
        agreed upon by the parties or, in the absence of agreement, in accordance with the UNCITRAL Arbitration Rules.
        The
        parties shall accept the arbitral award as final.
      </p>
    </ng-container>
    <!-- COntent No. 11 -->
    <ng-container>
      <h4 class="my-3">
        11. Privileges and Immunities of WHO
      </h4>
      <p class="mb-4">
        <strong>11.1</strong> Nothing contained herein or in any license or terms of use related to the subject matter
        herein
        (including,
        without limitation, the Apache License 2.0 discussed in paragraph 3.1 above) shall be construed as a waiver of
        any
        of the privileges and immunities enjoyed by the World Health Organization under national or international law,
        and/or as submitting the World Health Organization to any national court jurisdiction.
      </p>
    </ng-container>
  </div>
  <div class="col-1"></div>
</div>
