.cursor-pointer {
    cursor: pointer;
}

.ctype {
    text-align: center;
    padding: 23px 0px;
    align-self: center;

    &-1 {
        background-color: #F90047;
    }
    
    &-2 {
        background-color: #198A27;
    }
    
    &-3 {
        background-color: #F50231;
    }

    &-4 {
        background-color: #e75571;
    }
}

.dashboard-title {
    font-size: 25px;
    padding-bottom: 20px;
    font-weight: 500;
}

.date-title {
    font-size: 22px;
}

.sync-title {
    font-size: 17px;
    cursor: pointer;
    float: right;
}