.cursor-pointer {
    cursor: pointer;
}

.ctype-1 {
    background-color: #F90047;
}

.ctype-2 {
    background-color: #198A27;
}

.ctype-3 {
    background-color: #F50231;
}

.dashboard-title {
    font-size: 25px;
    padding-bottom: 20px;
    font-weight: 500;
}

.date-title {
    font-size: 22px;
}

.sync-title {
    font-size: 17px;
    cursor: pointer;
    float: right;
}