<div class="main-wrapper">
  <div *ngIf="isView" class="d-flex">
    <p-card
      [style]="{'overflow': 'hidden', 'width': '200px', 'height': '80px', 'margin-right': '2em','cursor': 'pointer'}"
      (click)="redirectToRoute('/showPatients')">
      <div class="row">
        <h3 class="col-4 w-700 ctype-1">{{dashboardData.totalPatient}}</h3>
        <div class="col-8 c-style">
          <h6>{{'Total Patients' | translate}}</h6>
        </div>
      </div>
    </p-card>
    <p-card
      [style]="{'overflow': 'hidden', 'width': '200px', 'height': '80px', 'margin-right': '2em','cursor': 'pointer'}"
      (click)="redirectToRoute('/showUsers')">
      <div class="row">
        <h3 class="col-4 w-700 ctype-2">{{dashboardData.totalUser}}</h3>
        <div class="col-8 c-style">
          <h6>{{'Total Users' | translate}}</h6>
        </div>
      </div>
    </p-card>
    <p-card
      [style]="{'overflow': 'hidden', 'width': '200px', 'height': '80px', 'margin-right': '2em','cursor': 'pointer'}"
      (click)="redirectToRoute('/confirmUsers')">
      <div class="row">
        <h3 class="col-4 w-700 ctype-3">{{dashboardData.pendingRequest}}</h3>
        <div class="col-8 c-style">
          <h6>{{'Pending User Requests' | translate}}</h6>
        </div>
      </div>
    </p-card>
  </div>
  <div class="container mt-5">
    <h3 class="mt-2">{{'Analysis' | translate}}</h3>
    <div class="row">
      <div class="col-6">
        <div id="barChart" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
        <h5 class="card-title text-center">Bar Chart - Patients</h5>
      </div>
      <div class="col-6">
        <div id="pieChart" style="width:100%; height:400px;"></div>
        <h5 class="card-title text-center">Pie Chart - Patients</h5>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12">
      <h2 class="text-left">{{'Map' | translate}}</h2>
      <div class="card mt-3">
        <div class="card-body">
          <div #mapRef style="width:100%;height:300px"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isView" class="main-wrapper-nodata">
  Sorry you don't have access to this page!!
</div>
