<div class="main-wrapper">
  <h1 class="heading">{{'RegistrationRequests.RegistrationRequests' | translate}}</h1>
  <hr>
  <div class="row align-items-center mb-3">
    <div class=" col-lg-3 col-xxl-2 col-md-5 position-relative">
      <input class="form-control custom-input h-40" id="exampleFormControlInput1" [(ngModel)]="searchString"
        (input)="searchFilter()" placeholder="{{'Common.Search' | translate}}">
    </div>
  </div>
  <!--Table-->
  <div *ngIf="!isAPIBusy" class="table-responsive">
    <table class="data-table">
      <thead>
        <tr>
          <th>{{'RegistrationRequests.ID' | translate}}</th>
          <th>{{'RegistrationRequests.Firstname' | translate}}</th>
          <th>{{'RegistrationRequests.Lastname' | translate}}</th>
          <th>{{'RegistrationRequests.Email' | translate}}</th>
          <th>{{'RegistrationRequests.Location' | translate}}</th>
          <th>{{'RegistrationRequests.Role' | translate}}</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="filteredUserList && filteredUserList.length > 0; else noRecords">
          <ng-container *ngFor="let user of filteredUserList; let i=index">
            <tr>
              <td>{{currentPage == 0 ? ((currentPage)*10 + i + 1) : ((currentPage-1)*10 + i + 1)}}</td>
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.email}}</td>
              <td>{{user.locationName ? user.locationName : 'NA'}}</td>
              <td>{{user.realmRoles[0]}}</td>
              <td>
                <i (click)="onApproveUser(i)" class="bi bi-check-circle text-success cursor-pointer font-size-32"></i>
              </td>
              <td>
                <i (click)="onDisapproveUser(i)" class="bi bi-x-circle text-red cursor-pointer font-size-32"></i>
              </td>
            </tr>
          </ng-container>
        </ng-container>
        <ng-template #noRecords>
          <div class="no-record">
            {{'Common.NoRecords' | translate}}
          </div>
        </ng-template>
      </tbody>
    </table>
  </div>
  <!--Table-END-->
  <div *ngIf="showConfirmDialogFlag" class="modal" tabindex="-1" role="dialog" style="display:block">
    <div class="modal-dialog modal-dialog-centered" style="width: 350px; height: 500px">
      <div class="modal-content">
        <div class="modal-body">
          <h2 class="modal-title text-center">
            <ng-container *ngIf="isApproveUser; else disapprove">
              {{'RegistrationRequests.ApproveUser' | translate}}
            </ng-container>
            <ng-template #disapprove>
              {{'RegistrationRequests.DisapproveUser' | translate}}
            </ng-template>
          </h2>
          <div class="text-center my-3">
            <p class="font-size-15">
              <ng-container *ngIf="isApproveUser; else disapprove">
                {{'RegistrationRequests.ConfirmApproval' | translate}}
              </ng-container>
              <ng-template #disapprove>
                {{'RegistrationRequests.DisApproval' | translate}}
              </ng-template>
          </div>
          <div class="text-center">
            <button type="button" class="btn-red btn mr-2" style="width: 100px;"
              (click)="authorizeUser()">{{'RegistrationRequests.Ok' | translate}}</button>
            <button type="button" class="btn-red btn" style="width: 100px;"
              (click)="showConfirmDialogFlag = false">{{'RegistrationRequests.Cancel' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
