<div *ngIf="isAdd" class="main-wrapper">
  <div class="form-wrapper">
    <form [formGroup]="comparePatientForm" name="comparePatientForm" novalidate>
      <div class="mb-5">
        <h1 class="heading">
          {{'Compare Patients' | translate}}
        </h1>
        <hr>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="mb-3">
            <label class="form-label">{{'First Patient' | translate}}</label>
            <input class="form-control" formControlName="firstPatient" type="file" id="firstPatient"
              placeholder="{{'Upload first Patient' | translate}}" accept=".json,.txt" (change)="onFileUploaded($event)"
              [ngClass]="{ 'is-invalid': submitted && f.firstPatient.errors }">
            <div *ngIf="submitted && f.firstPatient.errors" class="invalid-feedback">
              {{'Patient data is required' | translate}}
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="mb-3">
            <label class="form-label">{{'Second Patient' | translate}}</label>
            <input class="form-control" formControlName="secondPatient" type="file" id="secondPatient"
              placeholder="{{'Upload Second Patient' | translate}}" accept=".json,.txt"
              (change)="onFileUploaded($event)" [ngClass]="{ 'is-invalid': submitted && f.secondPatient.errors }">
            <div *ngIf="submitted && f.secondPatient.errors" class="invalid-feedback">
              {{'Patient data is required' | translate}}
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 col-sm-6">
          <div class="mb-3">
            <label class="form-label">{{'First Patient JSON' | translate}}</label>
            <textarea style="height: 100px;" formControlName="firstPatientDetails" id="firstPatientDetails"
              placeholder="{{'First Patient Details' | translate}}" class="form-control custom-input" rows="8"
              [ngClass]="{ 'is-invalid': submitted && f.firstPatientDetails.errors }"></textarea>
            <div *ngIf="submitted && f.firstPatientDetails.errors" class="invalid-feedback">
              {{'Patient data is required' | translate}}
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="mb-3">
            <label class="form-label">{{'Second Patient JSON' | translate}}</label>
            <textarea style="height: 100px;" formControlName="secondPatientDetails" id="secondPatientDetails"
              placeholder="{{'Second Patient Details' | translate}}" class="form-control custom-input" rows="8"
              [ngClass]="{ 'is-invalid': submitted && f.secondPatientDetails.errors }"></textarea>
            <div *ngIf="submitted && f.secondPatientDetails.errors" class="invalid-feedback">
              {{'Patient data is required' | translate}}
            </div>
          </div>
        </div>
      </div>
      <div class="text-end mt-5">
        <hr>
        <button (click)="comparePatients()" class="btn-blue btn">
          {{'Compare' | translate}}
        </button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="!isAdd" class="main-wrapper-nodata">
  Sorry you don't have access to this page!!
</div>
