<div class="main-wrapper">
  <h1 class="heading">Roles</h1>
  <hr>
  <div class="row align-items-center mb-3">
    <div class=" col-lg-3 col-xxl-2 col-md-5 position-relative">
      <input class="form-control custom-input h-40" id="exampleFormControlInput1" [(ngModel)]="searchString"
        (input)="searchFilter()" placeholder="Search">
    </div>
    <div class="col text-end"><button class="btn btn-red" routerLink="/addRole">+ Add Role</button></div>
  </div>
  <!--Table-->
  <div *ngIf="!isAPIBusy" class="table-responsive">
    <table class="data-table">
      <thead>
        <tr>
          <th>ID</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="filteredRoles && filteredRoles.length > 0; else noRecords">
          <ng-container *ngFor="let data of filteredRoles; let i=index">
            <tr>
              <td>{{i+1}}</td>
              <td>{{data.name}}</td>
              <td>{{data.description ? data.description : 'NA'}}</td>
              <td class="text-end">
                <i (click)="editRole(i)" class="bi bi-pencil-square cursor-pointer font-size-16"></i>
                <!-- <i class="bi bi-trash ms-3 text-red cursor-pointer font-size-16"></i> -->
              </td>
            </tr>
          </ng-container>
        </ng-container>
        <ng-template #noRecords>
          <div class="no-record">
            No Records Found!!
          </div>
        </ng-template>
      </tbody>
    </table>
  </div>
  <!--Table-END-->
</div>
