<div class="spinner-border" *ngIf="HTTPActivity">
  <span class="sr-only" id="loadbar"></span>
</div>
<ng-container *ngIf="!checkCurrentUrlAndShowHeaderBar()">
  <!--header-->
  <header>
    <div class="logo"><img src="assets/images/emcare-logo.svg" alt="EMCARE"></div>
    <ul class="navigation">
      <li class="dropdown">
        <div class="d-flex align-items-center" data-bs-toggle="dropdown">
          <span class="user-char-logo">
            {{userCharLogo}}
          </span>
          {{ userName }}<i class="bi bi-chevron-down ps-2" aria-hidden="true"></i>
        </div>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" routerLink="/editProfile">{{'Edit_Profile' | translate}}</a></li>
          <li><a class="dropdown-item" (click)="logout()">{{'Logout' | translate}}</a></li>
        </ul>
      </li>
    </ul>
  </header>
  <!--header-END-->
  <!--Sidenav-->
  <div class="sidenav cst-overflow" *ngIf="featureList.length !== 0">
    <ul class="nav-link">
      <li>
        <a class="mouse-pointer" [ngClass]="{'active': this.currentUrl === '/admin-settings'}"
          (click)="hideCurrentDropdown(4)">
          <i class="bi bi-people nav-link_icon" aria-hidden="true"></i>Settings
          <ng-container *ngIf="isSettingDropdownOpen; else upIcon">
            <i class="bi bi-chevron-up drop-icon" aria-hidden="true"></i>
          </ng-container>
          <ng-template #upIcon>
            <i class="bi bi-chevron-down drop-icon" aria-hidden="true"></i>
          </ng-template>
        </a>
        <div *ngIf="isSettingDropdownOpen" class="dropdown_list_wrapper">
          <ul class="dropdown_list">
            <li><a class="mouse-pointer" routerLink="/admin-settings"
                [ngClass]="{'dropdown-link_active': this.currentUrl === '/admin-settings'}">{{'User Management' | translate}}</a>
            </li>
          </ul>
        </div>
      </li>
      <li *ngIf="hasAccess('Users') || hasAccess('Roles')">
        <a class="mouse-pointer" [ngClass]="{'active': this.currentUrl === '/showUsers' || this.currentUrl === '/addUser' || this.currentUrl.includes('/updateUser') 
          || this.currentUrl === '/showRoles' || this.currentUrl === '/addRole' || this.currentUrl.includes('/editRole')
          || this.currentUrl === '/confirmUsers'}" (click)="hideCurrentDropdown(1)">
          <i class="bi bi-people nav-link_icon" aria-hidden="true"></i>{{'User Management' | translate}}
          <ng-container *ngIf="isUserDropdownOpen; else upIcon">
            <i class="bi bi-chevron-up drop-icon" aria-hidden="true"></i>
          </ng-container>
          <ng-template #upIcon>
            <i class="bi bi-chevron-down drop-icon" aria-hidden="true"></i>
          </ng-template>
        </a>
        <div *ngIf="isUserDropdownOpen" class="dropdown_list_wrapper">
          <ul class="dropdown_list">
            <li *ngIf="hasAccess('Users')"><a class="mouse-pointer" routerLink="/showUsers"
                [ngClass]="{'dropdown-link_active': this.currentUrl === '/showUsers' || this.currentUrl === '/addUser' || this.currentUrl.includes('/updateUser')}">{{'Users' | translate}}</a>
            </li>
            <li *ngIf="hasAccess('Roles')"><a class="mouse-pointer" routerLink="/showRoles"
                [ngClass]="{'dropdown-link_active': this.currentUrl === '/showRoles' || this.currentUrl === '/addRole' || this.currentUrl.includes('/editRole')}">{{'Roles' | translate}}
              </a></li>
            <li *ngIf="hasAccess('Users')"><a class="mouse-pointer" routerLink="/confirmUsers"
                [ngClass]="{'dropdown-link_active': this.currentUrl === '/confirmUsers'}">{{'Registration Request' | translate}}</a>
            </li>
          </ul>
        </div>
      </li>
      <li *ngIf="hasAccess('Patient Management')">
        <a class="mouse-pointer"
          [ngClass]="{'active': this.currentUrl === '/showPatients' || this.currentUrl === '/comparePatients'}"
          (click)="hideCurrentDropdown(3)">
          <i class="bi bi-map nav-link_icon" aria-hidden="true"></i>{{'Manage Patients' | translate}}
          <ng-container *ngIf="isPatientDropdownOpen; else upIcon">
            <i class="bi bi-chevron-up drop-icon" aria-hidden="true"></i>
          </ng-container>
          <ng-template #upIcon>
            <i class="bi bi-chevron-down drop-icon" aria-hidden="true"></i>
          </ng-template>
        </a>
        <div *ngIf="isPatientDropdownOpen" class="dropdown_list_wrapper">
          <ul class="dropdown_list">
            <li><a class="mouse-pointer" routerLink="/showPatients"
                [ngClass]="{'dropdown-link_active': this.currentUrl === '/showPatients'}">{{'Patients' | translate}}</a>
            </li>
            <li><a class="mouse-pointer" routerLink="/comparePatients"
                [ngClass]="{'dropdown-link_active': this.currentUrl === '/comparePatients'}">{{'Compare Patients' | translate}}</a>
            </li>
          </ul>
        </div>
      </li>
      <li *ngIf="hasAccess('Questionnaire Management')"><a class="mouse-pointer"
          [ngClass]="{'active': this.currentUrl === '/showQuestionnaires' || this.currentUrl === '/addQuestionnaire' || this.currentUrl.includes('/updateQuestionnaire')}"
          routerLink="/showQuestionnaires"><i class="bi bi-people nav-link_icon"
            aria-hidden="true"></i>{{'Questionnaire Management' | translate}}</a></li>
      <li *ngIf="hasAccess('Location Management')">
        <a class="mouse-pointer" [ngClass]="{'active': this.currentUrl === '/locationFilter' || this.currentUrl === '/showLocation' 
          || this.currentUrl === '/addLocation' || this.currentUrl === '/showLocationType' 
          || this.currentUrl === '/addLocationType' || this.currentUrl.includes('/editLocation')}"
          (click)="hideCurrentDropdown(2)">
          <i class="bi bi-cursor nav-link_icon" aria-hidden="true"></i>{{'Manage Locations' | translate}}
          <ng-container *ngIf="isLocationDropdownOpen; else upIcon">
            <i class="bi bi-chevron-up drop-icon" aria-hidden="true"></i>
          </ng-container>
          <ng-template #upIcon>
            <i class="bi bi-chevron-down drop-icon" aria-hidden="true"></i>
          </ng-template>
        </a>
        <div *ngIf="isLocationDropdownOpen" class="dropdown_list_wrapper">
          <ul class="dropdown_list">
            <li><a class="mouse-pointer" routerLink="/showLocation"
                [ngClass]="{'dropdown-link_active': this.currentUrl === '/showLocation' || this.currentUrl === '/addLocation' || this.currentUrl.split('/')[1] === 'editLocation'}">{{'Locations' | translate}}</a>
            </li>
            <li><a class="mouse-pointer" routerLink="/showLocationType"
                [ngClass]="{'dropdown-link_active': this.currentUrl === '/showLocationType' || this.currentUrl === '/addLocationType' || this.currentUrl.includes('/editLocationType')}">{{'Location Type' | translate}}</a>
            </li>
          </ul>
        </div>
      </li>
      <li *ngIf="hasAccess('Device Management')"><a class="mouse-pointer"
          [ngClass]="{'active': this.currentUrl === '/showDevices'}" routerLink="/showDevices"><i
            class="bi bi-hdd-network nav-link_icon" aria-hidden="true"></i>{{'Manage Devices' | translate}}</a></li>
      <li *ngIf="hasAccess('Feature Management')"><a class="mouse-pointer"
          [ngClass]="{'active': this.currentUrl === '/showFeatures' || this.currentUrl.includes('/editFeature')}"
          routerLink="/showFeatures"><i class="bi bi-diagram-3 nav-link_icon"
            aria-hidden="true"></i>{{'Manage Features' | translate}}</a>
      </li>
      <li *ngIf="hasAccess('Language Management')"><a class="mouse-pointer"
          [ngClass]="{'active': this.currentUrl === '/manage-language'}" routerLink="/language-list"><i
            class="bi bi-calendar2-range nav-link_icon" aria-hidden="true"></i>{{'Manage Translations' | translate}}</a>
      </li>
      <li *ngIf="hasAccess('Manage Facility')"><a class="mouse-pointer"
          [ngClass]="{'active': this.currentUrl === '/manage-facility' || this.currentUrl === '/showFacility' || this.currentUrl.includes('/editFacility')}"
          routerLink="/showFacility"><i class="bi bi-house-door nav-link_icon"
            aria-hidden="true"></i>{{'Manage Facility' | translate}}</a>
      </li>
    </ul>
  </div>
</ng-container>
<div>
  <router-outlet></router-outlet>
</div>
