.user-char-logo {
    background: white;
    color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    padding: 5px 0px 0px 7px;
    display: inline-block;
    margin-right: 10px;
}