<div class="main-wrapper">
  <h1 class="heading">{{'Duplicate Patients' | translate}}</h1>
  <div class="custom-accordion mt-3">
    <span class="badge-duplicate">Errors ({{duplicatePatientArr.length}})</span>
  </div>
  <hr>
  <div class="custom-accordion">
    <div class="accordion" id="accordionExample">
      <ng-container *ngFor="let dPatient of duplicatePatientArr; let i=index">
        <div class="accordion-item">
          <div class="accordion-header" id="heading{{i+1}}">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" attr.data-bs-target="#col_{{i+1}}"
              aria-expanded="true" attr.aria-controls="col_{{i+1}}">
              <span class="badge-duplicate">Duplicate</span>
            </button>
            <div class="dropdown pos">
              <i class="bi bi-three-dots-vertical" id="dropdownMenuLink" aria-hidden="true"
                data-bs-toggle="dropdown"></i>
              <span class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a href="#">Merge</a>
              </span>
            </div>
          </div>
          <div id="col_{{i+1}}" class="accordion-collapse collapse show" aria-labelledby="heading{{i+1}}"
            data-bs-parent="#accordionExample">
            <ng-container *ngFor="let patient of dPatient">
              <div class="accordion-body">
                <div class="row">
                  <div class="col-sm-2">
                    <span>Name</span>
                    <ng-container *ngIf="patient.givenName && patient.familyName; else noName">
                      <p>{{patient.givenName}} {{patient.familyName}}</p>
                    </ng-container>
                    <ng-template #noName>
                      <p>'NA'</p>
                    </ng-template>
                  </div>
                  <div class="col-sm-2">
                    <span>Caregiver Name</span>
                    <p>{{patient.caregiver}}</p>
                  </div>
                  <div class="col-sm-2">
                    <span>Gender</span>
                    <p>{{patient.gender}}</p>
                  </div>
                  <div class="col-sm-2">
                    <span>DOB</span>
                    <p>{{patient.dob | date: 'dd.MM.YYYY'}}</p>
                  </div>
                  <div class="col-sm-2">
                    <span>Facility</span>
                    <p>{{patient.facility}}</p>
                  </div>
                  <div class="col-sm-2">
                    <span>Location Name</span>
                    <p>{{patient.locationName}}</p>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
