<div class="main-wrapper">
  <div class="form-wrapper">
    <form [formGroup]="locationTypeForm" name="locationTypeForm" novalidate>
      <div class="mb-5">
        <h1 *ngIf="!isEdit" class="heading">{{ !isEdit ? 'Add Location Type' : 'Update Location Type'}}</h1>
        <hr>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="mb-3">
            <label class="form-label">Location Type</label>
            <input class="form-control custom-input" formControlName="type" type="text" id="type"
              placeholder="Enter type">
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input class="form-control custom-input" formControlName="name" type="text" id="name"
              placeholder="Enter name">
          </div>
        </div>
      </div>
      <div class="text-end mt-5">
        <hr>
        <button (click)="saveData()" class="btn-red btn">
          {{ !isEdit ? 'Add Location Type' : 'Update Location Type'}}
        </button>
      </div>
    </form>
  </div>
</div>
