.cst-link-style {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.cst-icon-style {
    font-size: 14px;
}

.people-img-fluid {
    max-width: 60%;
}

.cst-footer-line {
    font-size: 15px;
    text-align: center;
    display: block;
    color: #CCC;
    position: fixed;
    left: 20%;
    transform: translate(-50%, 0);
    bottom: 20px;
}