<div class="container-fluid">
  <div class="row align-items-center">
    <!--signup_left-col-->
    <div class="col-sm-12 col-md-5 col-12 p-0">
      <div class="signup_left-col">
        <div class="signup_left-col_inner">
          <div><img src="../../../../assets/images/emcare-icon.png" alt="EMCARE icon"></div>
          <div class="mt-3"> <img src="../../../../assets/images/img-01.png" class="people-img-fluid" alt="person-logo"> </div>
          <p class="font-size-13 mt-3">The WHO Em Care application is an executable reference software, which accurately
            represents the intentions, operational, and functional requirements of the WHO recommendations for emergency
            settings.
          </p>
          <div class="mt-3"> <img src="../../../../assets/images/whologo.jpg" class="who-img-fluid" alt="person-logo"> </div>
        </div>
      </div>
    </div>
    <!--signup_left-col-END-->

    <!--signup_form_wrapper-->
    <div class="col-12 col-sm-12 col-md-7">
      <div class="signup_form_wrapper">
        <form [formGroup]="loginForm">
          <div class="mb-5 text-center">
            <h1 class="heading">Sign In</h1>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" formControlName="username" class="form-control custom-input"
                  [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">Username is required</div>
                  <div *ngIf="f.username.errors.pattern">Invalid username</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mt-3">
              <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control custom-input" formControlName="password"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
              </div>
              <div class="font-size-14">
                Don't have an account?<a class="text-decoration-none mouse-pointer" (click)="navigateToSignup()">
                  Signup</a>
                <a class="text-decoration-none mouse-pointer float-right" (click)="navigateToForgotPassword()">
                  Forgot Password
                </a>
              </div>
            </div>
          </div>
          <div class="text-center mt-3">
            <button (click)="userLogin()" class="btn-blue btn p-l-70 p-r-70">Sign In</button>
          </div>
          <div class="text-center mt-3">
            <a class="cst-link-style" href="https://emcare.argusoft.com/doc/resources/emcare_1.0.0.apk" target="_blank">
              <i class="cst-icon-style bi bi-download" aria-hidden="true"></i>
              Download Mobile application</a>
          </div>
        </form>
      </div>
    </div>
    <!--signup_form_wrapper-END-->
  </div>
</div>
