.cst-link-style {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.cst-icon-style {
    font-size: 14px;
}

.people-img-fluid {
    max-width: 60%;
}

.cst-country {
    font-size: 25px;
    font-weight: normal;
}

.cst-welcome-msg {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: normal;
}