.cst-link-style {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.cst-icon-style {
    font-size: 14px;
}

.who-img-fluid {
    max-width: 25%;
}

.people-img-fluid {
    max-width: 60%;
}