.cst-border-right {
    border-right: 1px solid #C7C8C9;
}

.cst-data {
    font-weight: 500;
    font-size: 17px;
}

.cst-log-data {
    font-weight: 500;
    font-size: 20px;
}

.f-15 {
    font-size: 15px;
}

.cst-app-data {
    background-color: #fbfafa;
    padding: 10px 15px;
}

.b-bottom {
    border-bottom: 1px dotted;
}

.f-20 {
    font-size: 20px;
}