<div class="main-wrapper">
  <div class="form-wrapper-broad">
    <div class="">
      <span class="heading">
        {{'Logs' | translate}}
      </span>
      <div class="d-inline float-right">
        <button (click)="navigateToAddLog()" type="button" class="btn btn-blue">
          +&nbsp;{{'Add Log' | translate}}</button>
      </div>
      <hr>
    </div>
    <div class="row mb-3">
      <div class="col-4 cst-border-right">
        <ng-container *ngFor="let data of this.applicationData; let i=index">
          <div (click)="navigateToSection(data.id)" class="cst-app-data"
            [ngClass]="{'b-bottom': i<applicationData.length-1}">
            <span class="cursor-pointer cst-data d-block">{{data.appName}}</span>
            <label class="cursor-pointer cst-data form-label">{{data.appVersion}}</label>&nbsp;&nbsp;
            <label class="cursor-pointer cst-data form-label">{{data.date | date:'mediumDate'}}</label>
          </div>
        </ng-container>
      </div>
      <div class="col-8">
        <ng-container *ngFor="let data of this.applicationData; let i=index">
          <div id="{{data.id}}" class="cst-app-data mb-3" [ngClass]="{'b-bottom': i<applicationData.length-1}">
            <span class="cst-log-data form-label">{{data.appName}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="cst-log-data form-label">{{data.appVersion}}</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="cst-log-data form-label">{{data.date | date:'mediumDate'}}</label>
            <a class="float-right cst-link-style f-15 cursor-pointer" href="{{data.downloadUrl}}" target="_blank">
              <i class="f-20 bi bi-download" aria-hidden="true"></i>
            </a>
            <ul>
              <ng-container *ngFor="let log of data.logs">
                <li>
                  <div class="chip">
                    <span class="f-15">{{log}}</span>
                  </div>
                </li>
              </ng-container>
            </ul>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
