<div class="main-wrapper">
  <h1 class="heading">{{'Location.LocationTypeList.LocationType' | translate}}</h1>
  <hr>
  <div class="row align-items-center mb-3">
    <div class="col-lg-3 col-xxl-2 col-md-5 position-relative">
      <input class="form-control custom-input h-40" id="exampleFormControlInput1" [(ngModel)]="searchString"
        (input)="searchFilter()" placeholder="{{'Common.Search' | translate}}">
    </div>
    <div class="col text-end"> <button class="btn btn-red" routerLink="/addLocationType">+
        {{'Location.LocationTypeList.AddLocationType' | translate}}</button>
    </div>
  </div>
  <!--Table-->
  <div *ngIf="!isAPIBusy" class="table-responsive">
    <table class="data-table">
      <thead>
        <tr>
          <th>{{'Location.LocationTypeList.ID' | translate}}</th>
          <th>{{'Location.LocationTypeList.Name' | translate}}</th>
          <th>{{'Location.LocationTypeList.Type' | translate}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="filteredLocationTypes && filteredLocationTypes.length > 0; else noRecords">
          <ng-container *ngFor="let data of filteredLocationTypes; let i=index">
            <tr>
              <td>{{i + 1}}</td>
              <td>{{data.name}}</td>
              <td>{{data.code}}</td>
              <td class="text-end">
                <i (click)="editLocationType(i)" class="bi bi-pencil-square cursor-pointer font-size-16"></i>
                <!-- <i class="bi bi-trash ms-3 text-red cursor-pointer font-size-16"></i> -->
              </td>
            </tr>
          </ng-container>
        </ng-container>
        <ng-template #noRecords>
          <div class="no-record">
            {{'Common.NoRecords' | translate}}
          </div>
        </ng-template>
      </tbody>
    </table>
  </div>
  <!--Table-END-->
</div>
