<div *ngIf="isView" class="main-wrapper">
  <h1 class="heading">{{'Location Type' | translate}}</h1>
  <hr>
  <div class="row align-items-center mb-3">
    <div class="col-lg-3 col-xxl-2 col-md-5 position-relative">
      <input class="form-control custom-input h-35" id="exampleFormControlInput1" [(ngModel)]="searchString"
        (input)="searchFilter()" placeholder="{{'Search Placeholder' | translate}}">
    </div>
    <div *ngIf="isAdd" class="col text-end"> <button class=" btn btn-blue" routerLink="/addLocationType">+
        {{'Add Location Type' | translate}}</button>
    </div>
  </div>
  <!--Table-->
  <div *ngIf="!isAPIBusy" class="table-responsive">
    <table class="data-table" aria-labelledby="location-type-list">
      <thead>
        <tr>
          <th>{{'Sr. No' | translate}}</th>
          <th>{{'Name' | translate}}</th>
          <th>{{'Type' | translate}}</th>
          <th *ngIf="isEdit"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="filteredLocationTypes && filteredLocationTypes.length > 0; else noRecords">
          <ng-container *ngFor="let data of filteredLocationTypes; let i=index">
            <tr>
              <td>{{i + 1}}</td>
              <td>{{data.name}}</td>
              <td>{{data.code}}</td>
              <td *ngIf="isEdit">
                <i (click)="editLocationType(i)" class="bi bi-pencil-square cursor-pointer font-size-14"
                  aria-hidden="true"></i>
              </td>
            </tr>
          </ng-container>
        </ng-container>
        <ng-template #noRecords>
          <div class="no-record">
            {{'No Records' | translate}}
          </div>
        </ng-template>
      </tbody>
    </table>
  </div>
  <!--Table-END-->
</div>
<div *ngIf="!isView" class="main-wrapper-nodata">
  {{'NoAccess' | translate}}
</div>
