<div *ngIf="isView" class="main-wrapper">
  <div class="custom-header">
    <h1 class="heading">{{'Consultations' | translate}}</h1>
  </div>
  <div class="row align-items-center mb-3">
    <div class="col-3 position-relative">
      <input class="form-control custom-input h-35" id="exampleFormControlInput1" [(ngModel)]="searchString"
        (input)="searchFilter()" placeholder="{{'Search Placeholder' | translate}}">
    </div>
    <div class="col-3">
      <p-checkbox styleClass="form-label" [(ngModel)]="exportAllConsultations" label="Export All Consultations"
        [binary]="true" inputId="binary" value="true" (onChange)="exportAllTheConsultations()">
      </p-checkbox>
    </div>
    <div class="col-6 d-flex cst-export-consultation">
      <button [disabled]="this.exportAllConsultations" (click)="onEnableSelectionClick()" class="ml-3 btn btn-blue">
        {{showCheckboxes ? 'Cancel' : 'Export'| translate}}
      </button>
      <ul *ngIf="this.showCheckboxes || this.exportAllConsultations" class="navigation ml-3 btn btn-blue">
        <li class="dropdown" style="list-style-type: none;">
          <div class="d-flex align-items-center" data-bs-toggle="dropdown">
            {{'Save As' | translate}}
          </div>
          <ul class="dropdown-menu cst-transform" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" (click)="convertToExcel()">{{'Save As Excel' | translate}}</a></li>
            <li><a class="dropdown-item" (click)="convertToPDF()">{{'Save As PDF' | translate}}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!--Table-->
  <div *ngIf="!isAPIBusy" class="table-responsive">
    <table class="data-table" aria-labelledby="consultations-list">
      <thead>
        <tr>
          <th>
            <ng-container *ngIf="showCheckboxes; else showSerialHeader">
              <p-checkbox (click)="enableAllBoxes()" [binary]="true" inputId="binary" name="group1"
                [(ngModel)]="enableAll">
              </p-checkbox>
            </ng-container>
            <ng-template #showSerialHeader>
              {{'Sr. No' | translate}}.
            </ng-template>
          </th>
          <th>{{'Identifier' | translate}}</th>
          <th>{{'Name' | translate}}</th>
          <th>{{'Gender' | translate}}</th>
          <th>{{'Date of Birth' | translate}}</th>
          <th>{{'Consultation Date' | translate}}</th>
          <th>{{'Caregiver Name' | translate}}</th>
          <th>{{'Facility' | translate}}</th>
          <th>{{'Action' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="filteredConsultations && filteredConsultations.length > 0; else noRecords">
          <ng-container *ngFor="let patient of filteredConsultations |
          paginate : { itemsPerPage: tableSize, currentPage: currentPage, totalItems: totalCount }; let i=index">
            <tr>
              <td>
                <ng-container *ngIf="showCheckboxes; else showSerialNumbers">
                  <p-checkbox (click)="enableEachBox(patient)" [binary]="true" inputId="binary" name="group1"
                    [(ngModel)]="patient.isExcelPDF">
                  </p-checkbox>
                </ng-container>
                <ng-template #showSerialNumbers>
                  {{currentPage == 0 ? ((currentPage)*10 + i + 1) : ((currentPage-1)*10 + i + 1)}}
                </ng-template>
              </td>
              <td>{{patient.identifier ? patient.identifier : 'NA'}}</td>
              <td>
                <ng-container *ngIf="patient.givenName || patient.familyName; else blankName">
                  {{patient.givenName}}
                  {{patient.familyName}}
                </ng-container>
                <ng-template #blankName>
                  NA
                </ng-template>
              </td>
              <td>{{patient.gender}}</td>
              <td>{{patient.dob ? (patient.dob | date:'mediumDate') : 'NA'}}</td>
              <td>{{patient.consultationDate ? (patient.consultationDate | date:'mediumDate') : 'NA'}}</td>
              <td>{{patient.caregiver || "NOT PROVIDED"}}</td>
              <td>
                <ng-container *ngIf="patient.facility">
                  {{patient.facility}}
                </ng-container>
                <ng-container *ngIf="patient.organizationName">
                  - {{patient.organizationName}}
                </ng-container>
              </td>
              <td>
                <i (click)="viewConsultation(i)" class="bi bi-eye cursor-pointer font-size-14 mr-3"
                  aria-hidden="true"></i>
                <ng-container *ngIf="this.showCheckboxes">
                  <i (click)="exportPDF(patient)" class="cst-icon-style bi bi-download cursor-pointer mr-3"
                    aria-hidden="true"></i>
                  <i (click)="exportexcel(patient)" class="cst-icon-style bi bi-file-earmark-excel cursor-pointer"
                    aria-hidden="true"></i>
                </ng-container>
              </td>
            </tr>
          </ng-container>
        </ng-container>
        <ng-template #noRecords>
          <div class="no-record">
            {{'No Records' | translate}}
          </div>
        </ng-template>
      </tbody>
    </table>
    <div *ngIf="filteredConsultations && filteredConsultations.length > 0" class="d-flex justify-content-end mt-3">
      <pagination-controls responsive="true" previousLabel="Prev" nextLabel="Next" (pageChange)="onIndexChange($event)">
      </pagination-controls>
    </div>
  </div>
</div>
<div *ngIf="!isView" class="main-wrapper-nodata">
  {{'NoAccess' | translate}}
</div>
