<div *ngIf="isView" class="main-wrapper">
  <h1 class="heading">{{'Consultations' | translate}}</h1>
  <hr>
  <div class="row align-items-center mb-3">
    <div class=" col-lg-3 col-xxl-2 col-md-5 position-relative">
      <input class="form-control custom-input h-35" id="exampleFormControlInput1" [(ngModel)]="searchString"
        (input)="searchFilter()" placeholder="{{'Search Placeholder' | translate}}">
    </div>
  </div>
  <!--Table-->
  <div *ngIf="!isAPIBusy" class="table-responsive">
    <table class="data-table" aria-labelledby="consultations-list">
      <thead>
        <tr>
          <th>{{'Sr. No' | translate}}.</th>
          <th>{{'Identifier' | translate}}</th>
          <th>{{'Name' | translate}}</th>
          <th>{{'Gender' | translate}}</th>
          <th>{{'Date of Birth' | translate}}</th>
          <th>{{'Caregiver Name' | translate}}</th>
          <th>{{'Facility' | translate}}</th>
          <th>{{'Action' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="filteredConsultations && filteredConsultations.length > 0; else noRecords">
          <ng-container *ngFor="let patient of filteredConsultations |
          paginate : { itemsPerPage: tableSize, currentPage: currentPage, totalItems: totalCount }; let i=index">
            <tr>
              <td>{{currentPage == 0 ? ((currentPage)*10 + i + 1) : ((currentPage-1)*10 + i + 1)}}</td>
              <td>{{patient.identifier ? patient.identifier : 'NA'}}</td>
              <td>
                <ng-container *ngIf="patient.givenName || patient.familyName; else blankName">
                  {{patient.givenName}}
                  {{patient.familyName}}
                </ng-container>
                <ng-template #blankName>
                  NA
                </ng-template>
              </td>
              <td>{{patient.gender}}</td>
              <td>{{patient.dob ? (patient.dob | date:'mediumDate') : 'NA'}}</td>
              <td>{{patient.caregiver || "NOT PROVIDED"}}</td>
              <td>
                <ng-container *ngIf="patient.facility">
                  {{patient.facility}}
                </ng-container>
                <ng-container *ngIf="patient.organizationName">
                  - {{patient.organizationName}}
                </ng-container>
              </td>
              <td>
                <i (click)="viewConsultation(i)" class="bi bi-eye cursor-pointer font-size-14"
                  aria-hidden="true"></i>
              </td>
            </tr>
          </ng-container>
        </ng-container>
        <ng-template #noRecords>
          <div class="no-record">
            {{'No Records' | translate}}
          </div>
        </ng-template>
      </tbody>
    </table>
    <div *ngIf="filteredConsultations && filteredConsultations.length > 0" class="d-flex justify-content-end mt-3">
      <pagination-controls responsive="true" previousLabel="Prev" nextLabel="Next" (pageChange)="onIndexChange($event)">
      </pagination-controls>
    </div>
  </div>
</div>
<div *ngIf="!isView" class="main-wrapper-nodata">
  {{'NoAccess' | translate}}
</div>
