<app-location-filter (locationId)="getLocationId($event)"></app-location-filter>
<div class="main-wrapper">
  <h1 class="heading">Users</h1>
  <hr>
  <div class="row align-items-center mb-3">
    <div class="col-lg-3 col-xxl-2 col-md-5 position-relative">
      <input class="form-control custom-input h-40" id="exampleFormControlInput1" [(ngModel)]="searchString"
        (input)="searchFilter()" placeholder="Search">
    </div>
    <div class="col text-end">
      <button class="btn btn-red" routerLink="/addUser">+ Add User</button>
    </div>
  </div>
  <!--Table-->
  <div *ngIf="!isAPIBusy" class="table-responsive">
    <table class="data-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Location</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="filteredUserList && filteredUserList.length > 0; else noRecords">
          <ng-container *ngFor="let user of filteredUserList; let i=index">
            <tr>
              <td>{{i+1}}</td>
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.userName}}</td>
              <td>{{user.realmRoles[0]}}</td>
              <td>{{user.locationName ? user.locationName : 'NA'}}</td>
              <td><span [ngClass]="(!!user.enabled) ? 'badges-red bg-green' : 'badges-red'">
                  {{ !!user.enabled ? 'Verifed' : 'Not Verified'}}</span>
              <td class="text-end">
                <ul class="navigation" style="list-style-type: none;">
                  <li class="dropdown mt-3 cursor-pointer">
                    <div class="d-flex align-items-center" data-bs-toggle="dropdown">
                      <i class="bi bi-three-dots-vertical ps-2"></i>
                    </div>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li (click)="updateUser(i)">
                        <a class="dropdown-item">
                          <i class="bi bi-pencil font-size-16 mr-2"></i>Update User
                        </a>
                      </li>
                      <li (click)="onResetPassword(i)">
                        <a class="dropdown-item">
                          <i class="bi bi-pencil font-size-16 mr-2"></i>Reset Password
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </td>
            </tr>
          </ng-container>
        </ng-container>
        <ng-template #noRecords>
          <div class="no-record">
            No Records Found!!
          </div>
        </ng-template>
      </tbody>
    </table>
  </div>
  <!--Table-END-->

  <!--pagination-->
  <!-- <ul class="pagination custom-pagination justify-content-end my-4">
    <li class="page-item">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="bi bi-arrow-left font-size-16"></i></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link pagination-active" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#"><i class="bi bi-arrow-right font-size-16"></i></a>
    </li>
  </ul> -->
  <!--pagination-END-->
  <div *ngIf="showResetPasswordDialog" class="modal" tabindex="-1" role="dialog" style="display:block">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Reset Password</h4>
          <i class="bi bi-x font-size-20 text-end cursor-pointer" (click)="closeDialog()"></i>
        </div>
        <div class="modal-body">
          <form [formGroup]="resetPasswordForm">
            <div class="row mt-3">
              <div class="col-12">
                <div class="mb-3">
                  <label class="form-label">Password</label>
                  <input type="password" formControlName="password" class="form-control custom-input"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 mt-3">
                <div class="mb-3">
                  <label class="form-label">Confirm Password</label>
                  <input type="password" formControlName="confirmPassword"
                    class="form-control custom-input" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                  <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12 col-sm-6 ml-auto">
                <button (click)="updatePassword()" class="btn btn-red p-l-70 p-r-70 mb-5" style="width: 210px;">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
