<div class="main-wrapper">
  <h1 class="heading">Device List</h1>
  <hr>
  <div class="row align-items-center mb-3">
    <div class=" col-lg-3 col-xxl-2 col-md-5 position-relative">
      <input class="form-control custom-input" id="exampleFormControlInput1" [(ngModel)]="searchString" (input)="searchFilter()" placeholder="Search">
    </div>
  </div>
  <!--Table-->
  <div class="table-responsive">
    <table class="data-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Device UUID</th>
          <th>Android Version</th>
          <th>Logged in User</th>
          <th>App Usage</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of filteredDevices; let i=index">
          <tr>
            <td>{{i+1}}</td>
            <td>{{data.deviceUUID}}</td>
            <td>{{data.androidVersion}}</td>
            <td>{{data.lastLoggedInUser}}</td>
            <td>
              <label class="switch">
                <input [(ngModel)]="data.isBlocked" (ngModelChange)="editDevice($event, data)" id="isBlocked"
                  type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <!--Table-END-->

  <!--pagination-->
  <ul class="pagination custom-pagination justify-content-end my-4">
    <li class="page-item">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="bi bi-arrow-left font-size-16"></i></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link pagination-active" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#"><i class="bi bi-arrow-right font-size-16"></i></a>
    </li>
  </ul>
  <!--pagination-END-->
</div>
