<div *ngIf="isEdit" class="main-wrapper">
  <h1 class="heading mb-3">{{'Manage Translations' | translate}}</h1>
  <ng-container *ngIf="availableLanguages.length>0">
    <div class="mt-5 cst-rtl">
      <label class="cst-label mr-4">{{'Add Launguage' | translate}}</label>
      <p-dropdown [options]="availableLanguages" [(ngModel)]="newSelectedLanguage" optionLabel="name"
        placeholder="{{'Select country' | translate}}" styleClass="custom-dropdown" [filter]="true" filterBy="name"
        [showClear]="true">
      </p-dropdown>
      <button [disabled]="!newSelectedLanguage" class="btn btn-red ml-4"
        (click)="addNewLanguage()">{{'Add Launguage' | translate}}</button>
    </div>
  </ng-container>
  <ng-container *ngIf="lanArray.length>0">
    <div class="cst-lan-dropdown d-block my-4 cst-rtl">
      <label class="cst-label mr-4">{{'Launguage' | translate}}</label>
      <p-dropdown [options]="lanArray" optionLabel="languageName" placeholder="{{'Select Launguage' | translate}}"
        styleClass="custom-launguage-dropdown" (onChange)="setLaunguage($event.value)">
      </p-dropdown>
    </div>
  </ng-container>
  <ng-container *ngIf="this.lan">
    <div class="d-flex">
      <div class="ms-2 align-self-center">
        <ng-container *ngFor="let item of alphabetArr; let i = index">
          <a class="mr-3 mouse-pointer cst-alpha" (click)="showCurrCharKeys(item)">{{item}}</a>
        </ng-container>
      </div>
      <button *ngIf="isChanged" class="ml-4 btn btn-red"
        (click)="saveTranslation()">{{'Save Changes' | translate}}</button>
    </div>
  </ng-container>
  <ng-container *ngIf="this.lan">
    <div class="cst-main-style">
      <div *ngFor="let item of currentNames | keyvalue; let i=index" class="cst-child-style">
        <div class="cst-parent d-flex">
          <div class="cst-key">
            <label class="cst-label">{{item.key}}</label>
          </div>
          <div class="cst-value d-flex">
            <input (input)="setValue($event)" type="text" class="form-control custom-input ml-3" name="item.key"
              value="{{item.value}}">
            <i aria-hidden="true" (click)="saveChange(item.key)"
              class="bi bi-check-circle text-success cursor-pointer font-size-32 ml-3 cst-checkmark"></i>
          </div>
        </div>
      </div>
      <div *ngIf="noRecords" class="p-10">
        <h4 class="m-0">{{'No Translations' | translate}}</h4>
      </div>
    </div>
  </ng-container>
</div>
<div *ngIf="!isEdit" class="main-wrapper-nodata">
  Sorry you don't have access to this page!!
</div>
