.cst-label {
    color: black;
    font-weight: 600;
    align-self: center;
}

.cst-parent {
    align-self: center;
    display: flex;
    width: 100%;
}

.cst-checkmark {
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}

.cst-alpha {
    text-decoration: underline;
}

.cst-subkey {
    align-self: center;
    font-weight: 600;
}

.cst-main-style {
    margin-top: 50px;
    border: 1px solid black;
}

.cst-child-style {
    border: 1px solid black;
}

.cst-key {
    width: 30%;
    padding: 20px;
}

.cst-value {
    width: 70%;
    padding: 10px;
}

.p-10 {
    padding: 10px;
}