<div class="main-wrapper">
  <div class="form-wrapper-facility">
    <form [formGroup]="facilityForm" name="facilityForm" novalidate>
      <div class="mb-5">
        <h1 class="heading">
          {{'Manage Facility' | translate}}
        </h1>
        <hr>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input formControlName="organizationName" type="text" class="form-control custom-input"
              id="organizationName" placeholder="Enter organization name"
              [ngClass]="{ 'is-invalid': submitted && f.organizationName.errors }">
            <div *ngIf="submitted && f.organizationName.errors" class="invalid-feedback">
              <div class="cst-error-style" *ngIf="f.organizationName.errors.required">
                *Name is required</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="mb-3">
            <label class="form-label">Address Street</label>
            <input formControlName="addressStreet" type="text" class="form-control custom-input" id="addressStreet1"
              placeholder="Enter address street" [ngClass]="{ 'is-invalid': submitted && f.addressStreet.errors }">
            <div *ngIf="submitted && f.addressStreet.errors" class="invalid-feedback">
              <div class="cst-error-style" *ngIf="f.addressStreet.errors.required">
                *Address street is required</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-4">
          <div class="mb-3">
            <label class="form-label">Location</label>
            <div class="d-block">
              <button type="button" class="btn btn-primary cst-primary" data-bs-toggle="modal"
                data-bs-target="#locationModal">
                <ng-container *ngIf="f.location.value; else noLocation">
                  {{f.location.value.name}}
                </ng-container>
                <ng-template #noLocation>
                  Select Location
                </ng-template>
              </button>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-4">
          <div class="mb-3">
            <label class="form-label">Status</label>
            <p-dropdown formControlName="status" [options]="statusArr" optionLabel="name"
              [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
            </p-dropdown>
            <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
              <div class="cst-error-style" *ngIf="f.status.errors.required">
                *status is required</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-4">
          <div class="mb-3">
            <label class="form-label">Telecom</label>
            <input formControlName="telecom" type="text" class="form-control custom-input" id="telecom"
              placeholder="Enter telecom" [ngClass]="{ 'is-invalid': submitted && f.telecom.errors }">
            <div *ngIf="submitted && f.telecom.errors" class="invalid-feedback">
              <div class="cst-error-style" *ngIf="f.telecom.errors.required">
                *Telecom is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-end mt-5">
        <hr>
        <button routerLink="/showFacility" class="btn-red btn mr-3">
          <i class="bi bi-chevron-left"></i> {{'Back' | translate}}
        </button>
        <button (click)="saveData()" class="btn-red btn">
          <ng-container *ngIf="!isEdit; else updateFacility">
            {{'Save Facility' | translate}}
          </ng-container>
          <ng-template #updateFacility>
            {{'Edit Facility' | translate}}
          </ng-template>
        </button>
      </div>
    </form>
  </div>
</div>
<div class="modal fade" id="locationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header cst-header">
        <h5 class="modal-title" id="exampleModalLabel">Select Location</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body cst-body">
        <app-location-dropdown [idArr]="locationIdArr" (locationFormValueAndDropdownArr)="getFormValue($event)">
        </app-location-dropdown>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-red" (click)="saveLocationData()" data-bs-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
